---
import IconSpark from "../icons/IconSpark.astro";
---

<span class="chip_recommended">
  <i><IconSpark /></i>
  <p>Recomendado</p>
</span>
<style>
  span.chip_recommended {
    font-weight: 400;
    border: 1px solid var(--border-color-light);
    box-sizing: border-box;
    border-radius: var(--border-radius);
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    margin-left: 0.25rem;
    padding: 0 0.5rem;
    p {
      font-size: var(--text-size-sm);
      background: var(--bg-gradient);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      user-select: none;
    }
  }
</style>
