---
import Section from './Section.astro';
import Title from './Title.astro';
import BackgroundPattern from './BackgroundPattern.astro';
import PricingContent from './PricingContent';
import { pricing } from '@site';
import PrincingCompare from './PrincingCompare.astro';
---

<Section>
  <BackgroundPattern slot="bg" />
  <div class="pricing">
    <Title text={pricing.title} body={pricing.description} />
    <PricingContent client:visible />
    <PrincingCompare />
  </div>
</Section>

<style>
  .pricing {
    .switch {
      margin: 0 auto;
      width: fit-content;
      min-width: 280px;
      margin-top: calc(var(--container-padding-y) / 4);
      background-color: white;
      &.tiny {
        min-width: 120px;

        .switch-wrapper {
          padding: 0.4rem;
          background-color: white;
          border: 1px solid var(--border-color);

          span {
            padding: 0.25rem;
            transition: all 0.3s ease-in-out;
            p {
              font-size: var(--text-size-sm);
              color: var(--text-color);
            }
            &:hover {
              background: rgba(255, 255, 255, 0.2);
            }
            &.active {
              background: var(--text-color);
              p {
                color: white;
              }
            }
          }
        }
      }
      .switch-wrapper {
        display: flex;
        background-color: var(--border-color-light);
        padding: 0.5rem;
        box-sizing: border-box;
        border-radius: 50px;
        gap: 0.25rem;
        span {
          flex: 1;
          flex-basis: 0;
          border-radius: 25px;
          padding: 0.5rem;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: all 0.3s ease;
          p {
            font-weight: 500;
            font-size: var(--text-size);
            display: flex;
            align-items: center;
            b {
              opacity: 0.7;
              font-size: var(--text-size-sm);
              pointer-events: none;
            }
          }
          &:hover {
            background: var(--border-color-light);
          }
          &.active {
            background: var(--bg-gradient);
            color: white;
          }
        }
      }
    }
    .content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: var(--grid-gap);
      margin-top: calc(var(--container-padding-y) / 2);
      @media screen and (max-width: 375px) {
        grid-template-columns: 1fr;
      }
      article {
        display: flex;
        flex-direction: column;
        gap: var(--card-gap-lg);
        font-size: var(--text-size);
        font-weight: 500;
        color: var(--text-color);
        background-color: white;
        border: 1px solid var(--border-color-light);
        border-radius: var(--border-radius);
        box-shadow: var(--shadow-light);
        padding: var(--plan-padding);
        &.recommended {
          border: 1px solid var(--border-color);
          box-shadow: var(--shadow);
        }
        .info {
          display: flex;
          flex-direction: column;
          gap: 0.75rem;
          border-bottom: 1px solid var(--border-color-light);
          padding-bottom: 1rem;
          h1 {
            font-size: var(--title-size);
            display: flex;
            align-items: center;
            min-height: 1.5rem;
          }
          & > p {
            font-size: var(--text-size);
            font-weight: 400;
          }
          h2 {
            font-size: var(--title-size-lg);
            font-weight: 600;
            span {
              font-size: var(--text-size);
              font-weight: 400;
            }
          }
        }
        ul {
          display: flex;
          flex-direction: column;
          gap: 0.75rem;
          li {
            font-weight: 400;
            display: flex;
            align-items: center;
            gap: 0.75rem;
            line-height: var(--text-line-height);
            color: var(--text-color);
            i {
              svg {
                width: 18px;
                height: 18px;
              }
            }
          }
        }
      }
    }
  }
</style>
