---
import BackgroundPattern from './BackgroundPattern.astro';
import Section from './Section.astro';
import Title from './Title.astro';

interface Props {
  more?: boolean;
}

const { more } = Astro.props;
---

<Section>
  <BackgroundPattern slot="bg" />
  <Title
    text="Casos de Éxito"
    body="Historias de exito de nuestros clientes."
  />
  <div class="quotes">
    {
      more && (
        <div class="see-more">
          <a href="/casos-de-exito" class="outline button">
            Ver más
          </a>
        </div>
      )
    }
    <article>
      <p>
        "Ahora podemos seguir las etapas de atención al cliente [...]
        En pocos minutos, toda la información está disponible para
        nosotros, lo que representa un gran avance en nuestros
        procesos internos."
      </p>
      <span>
        <img src="/public/images/quotes/1.png" alt="metropolitano" />
        <div class="person">
          <p>Metropolitano</p>
          <small>Juan Perez Palacios - Gerente</small>
        </div>
      </span>
    </article>
    <article>
      <p>
        "Ahora podemos seguir las etapas de atención al cliente [...]
        En pocos minutos, toda la información está disponible para
        nosotros, lo que representa un gran avance en nuestros
        procesos internos."
      </p>
      <span>
        <img src="/public/images/quotes/1.png" alt="metropolitano" />
        <div class="person">
          <p>Metropolitano</p>
          <small>Juan Perez Palacios - Gerente</small>
        </div>
      </span>
    </article>
    <article>
      <p>
        "Ahora podemos seguir las etapas de atención al cliente [...]
        En pocos minutos, toda la información está disponible para
        nosotros, lo que representa un gran avance en nuestros
        procesos internos."
      </p>
      <span>
        <img src="/public/images/quotes/1.png" alt="metropolitano" />
        <div class="person">
          <p>Metropolitano</p>
          <small>Juan Perez Palacios - Gerente</small>
        </div>
      </span>
    </article>
    {
      !more && (
        <>
          <article>
            <p>
              "Ahora podemos seguir las etapas de atención al cliente
              [...] En pocos minutos, toda la información está
              disponible para nosotros, lo que representa un gran
              avance en nuestros procesos internos."
            </p>
            <span>
              <img
                src="/public/images/quotes/1.png"
                alt="metropolitano"
              />
              <div class="person">
                <p>Metropolitano</p>
                <small>Juan Perez Palacios - Gerente</small>
              </div>
            </span>
          </article>
          <article>
            <p>
              "Ahora podemos seguir las etapas de atención al cliente
              [...] En pocos minutos, toda la información está
              disponible para nosotros, lo que representa un gran
              avance en nuestros procesos internos."
            </p>
            <span>
              <img
                src="/public/images/quotes/1.png"
                alt="metropolitano"
              />
              <div class="person">
                <p>Metropolitano</p>
                <small>Juan Perez Palacios - Gerente</small>
              </div>
            </span>
          </article>
          <article>
            <p>
              "Ahora podemos seguir las etapas de atención al cliente
              [...] En pocos minutos, toda la información está
              disponible para nosotros, lo que representa un gran
              avance en nuestros procesos internos."
            </p>
            <span>
              <img
                src="/public/images/quotes/1.png"
                alt="metropolitano"
              />
              <div class="person">
                <p>Metropolitano</p>
                <small>Juan Perez Palacios - Gerente</small>
              </div>
            </span>
          </article>
        </>
      )
    }
  </div>
</Section>

<style>
  .quotes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--grid-gap);
    margin-top: calc(var(--container-padding-y) / 2);
    position: relative;
    &:has(.see-more) {
      padding-bottom: 5rem;
    }
    .see-more {
      background: linear-gradient(
        transparent,
        rgba(255, 255, 255, 0.5),
        white
      );
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
    article {
      display: flex;
      flex-direction: column;
      gap: var(--card-gap);
      font-size: var(--text-size);
      font-weight: 500;
      color: var(--text-color);
      background-color: white;
      border: 1px solid var(--border-color);
      border-radius: var(--border-radius);
      box-shadow: var(--shadow);
      padding: var(--card-padding);
      p {
        font-weight: 400;
        line-height: var(--text-line-height);
      }
      span {
        display: flex;
        align-items: center;
        margin-top: 0.5rem;
        gap: 1rem;
        img {
          width: 36px;
          height: 36px;
        }
        .person {
          p {
            font-weight: 500;
          }
          small {
            font-weight: 400;
          }
        }
      }
    }
  }
</style>
