---
interface Props {
  text: string;
  body: string;
}

const { text, body } = Astro.props;
---

<div class="title">
  <h1>{text}</h1>
  <p>{body}</p>
</div>

<style>
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--title-gap);
    color: var(--text-color);
    h1 {
      font-size: var(--title-size-lg);
      font-weight: 600;
      text-wrap: balance;
      max-width: 500px;
      text-align: center;
      line-height: var(--title-line-height-xl);
    }
    p {
      font-size: var(--text-size-lg);
      line-height: var(--title-line-height);
      font-weight: 300;
      text-align: center;
    }
  }
</style>
