---
// Title.astro
interface Props {
  text: string;
  body?: string;
  level?: 'h1' | 'h2' | 'h3'; // Añade la prop level
}

const { text, body, level = 'h1' } = Astro.props; // Asigna 'h1' como valor por defecto
---

<div class="title">
  {level === 'h1' ? <h1>{text}</h1> : level === 'h2' ? <h2>{text}</h2> : <h3>{text}</h3>} <!-- Renderiza según el nivel -->
  <p>{body}</p>
</div>

<style>
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--title-gap);
    color: var(--text-color);
    h1 {
      font-size: var(--title-size-lg);
      font-weight: 600;
      text-wrap: balance;
      max-width: 500px;
      text-align: center;
      line-height: var(--title-line-height-xl);
    }
    h2 {
      font-size: 2.0rem; /* Ajusta el tamaño aquí */
      font-weight: 500;
      text-wrap: balance;
      max-width: 500px;
      text-align: center;
      line-height: var(--title-line-height-xl);
    }
    h3 {
      font-size: var(--title-size-lg); // Ajusta según necesites
      font-weight: 400;
      text-wrap: balance;
      max-width: 500px;
      text-align: center;
      line-height: var(--title-line-height-xl);
    }
    p {
      font-size: var(--text-size-lg);
      line-height: var(--title-line-height);
      font-weight: 300;
      text-align: center;
      max-width: 650px;
      width: 100%;
    }
  }
</style>
