---
import IconDocCheck from '../icons/IconDocCheck.astro';
import { validations } from '@site';
---

<section class="validations-list">
  <ul>
    {
      validations.items.map((validation) => (
        <details>
          <summary>
            <i>
              <IconDocCheck />
            </i>
            <div class="validation-name">
              <p>Argentina</p>
              <small>Firma electrónica simple</small>
            </div>
            <a href="#" class="outline button">
              Saber más
            </a>
          </summary>
          <p>{validation.content}</p>
        </details>
      ))
    }
  </ul>
</section>
<style lang="scss">
  @import '../../assets/breakpoints.scss';
  .validations-list {
    display: flex;
    flex-direction: column;
    gap: var(--card-gap-sm);
    font-size: var(--text-size);
    color: var(--text-color);
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    padding: var(--card-padding-y) var(--card-padding);
    max-width: var(--container-max-width-md);
    margin: auto;
    margin-top: calc(var(--container-padding-y) / 2);
    ul {
      display: flex;
      flex-direction: column;
      details {
        display: flex;
        align-items: center;
        padding: var(--card-padding) 0;
        border-bottom: 1px solid var(--border-color-light);
        &:first-child {
          padding-top: 0;
        }
        &:last-child {
          border-bottom: none;
          padding-bottom: 0;
        }
        summary {
          display: flex;
          align-items: center;
          gap: 1rem;

          i {
            background: white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            border: 1px solid var(--border-color);
          }
          .validation-name {
            flex: 1;
            text-align: left;
            font-size: var(--text-size);
            font-weight: 500;
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            small {
              font-weight: 300;
            }
          }
          a.button {
            pointer-events: none;
            @include screen('sm') {
              display: none;
            }
          }
        }
        & > p {
          font-size: var(--text-size);
          line-height: var(--text-line-height);
          padding-top: 1rem;
          padding-left: 3.4rem;
        }
      }
    }
  }
</style>
