---
import Section from '../shared/Section.astro';
import { product } from '@site';
import Title from '../shared/Title.astro';
---

<Section color="var(--bg-color)">
  <div class="clients">
    <Title text={product.clients.title} />
    <div class="grid">
      { product.clients.images.map((item) => (
        <article>
          <img src={item.src} alt={item.alt} />
        </article>
      ))}
    </div>
  </div>
</Section>

<style lang="scss">
  @import '../../assets/breakpoints.scss';
  .clients {
    .grid {
      max-width: var(--container-max-width);
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: max(1rem, var(--grid-gap-sm));
      margin-top: calc(var(--container-padding-y) / 2);

      @include screen('md') {
        gap: max(1rem, var(--grid-gap-sm) / 2);
      }

      article {
        min-width: 150px;
        max-width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        color: var(--text-color);
        background-color: white;
        padding: 1rem;
        border-radius: var(--border-radius);
        border: 1px solid var(--border-color);
        box-shadow: var(--shadow);
        @include screen('sm') {
          min-width: 100px;
          max-width: 120px;
        }
        @include screen('xsm') {
          min-width: 80px;
          max-width: 100px;
        }
        img {
          width: 100%;
          height: 36px;
          object-fit: contain;
          filter: grayscale(1);
        }
      }
    }
  }
</style>
