.form {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--shadow);
  padding: calc(2 * var(--card-padding));
  background-color: white;
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-sizing: border-box;
  position: sticky;
  top: calc(var(--nav-height) + 2rem);
  margin: 0 auto; // Centra el formulario horizontalmente

  .title {
    display: flex;
    flex-direction: column;
    text-align: center;

    h1 {
      font-size: var(--title-size);
      font-weight: 500;
      line-height: var(--title-line-height-xl);
      color: var(--text-color);
      margin: 0; // Elimina el margen para un mejor alineamiento
    }
    h3 {
      font-size: var(--title-size);
      font-weight: 700;
      line-height: var(--title-line-height-xl);
      color: var(--text-color);
      text-align: center;
      margin: 0; // Elimina el margen para un mejor alineamiento
    }

    p {
      font-weight: 300;
      font-size: var(--text-size);
      margin-top: 0.25rem;
      color: var(--text-color-secondary); // Color secundario para suavizar el texto
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input {
      height: 36px;
      border-radius: var(--border-radius-sm);
      border: 1px solid var(--border-color-dark);
      padding: 0 0.5rem;
      box-sizing: border-box;
      font-size: var(--text-size);
      transition: border-color 0.3s; // Transición suave al cambiar el color del borde

      &:active,
      &:focus {
        border: 1px solid var(--accent-color);
        outline: none; // Elimina el contorno por defecto en navegadores
      }

      &:required:invalid:focus {
        border: 1px solid red; // Indica error si el campo es requerido y está vacío
      }
    }
  }
  .wrapper input:hover {
    border: 1px solid var(--accent-color); /* Cambia el color del borde al pasar el cursor */
  }
  
  a:hover {
    color: var(--accent-color); /* Cambia el color del enlace al pasar el cursor */
    text-decoration: underline; /* Subraya el texto al pasar el cursor */
  }

  strong {
    text-align: center;
    font-weight: 400;
    margin: 1rem 0; // Agrega espacio vertical alrededor del texto
  }
}
