---
import Title from '../components/shared/Title.astro';
import Section from '../components/shared/Section.astro';
import Articles from '../components/blog/Articles.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Firmeasy | Blog">
  <Section>
    <Title text="Blog" body="Artículos y novedades." />
    <Articles />
  </Section>
</Layout>
