---
import Layout from '../layouts/Layout.astro';
import Fullpage from '../components/shared/Fullpage.astro';
import Section from '../components/shared/Section.astro';
import ValidationsList from '../components/shared/ValidationsList.astro';
import BackgroundPattern from '../components/shared/BackgroundPattern.astro';
import Title from '../components/shared/Title.astro';
import { validations } from '@site';
---

<Layout title="Firmeasy | Validez Jurídica">
  <Fullpage>
    <Section>
      <BackgroundPattern slot="bg" />
      <Title text={validations.title} body={validations.description} />
      <ValidationsList />
    </Section>
  </Fullpage>
</Layout>
