---
import Title from '../shared/Title.astro';
import Section from '../shared/Section.astro';
import IconCheck from '../icons/IconCheck.astro';
import { benefits } from '@site';
---

<Section color="var(--bg-color)">
  <div class="benefits">
    <Title text={benefits.title} body={benefits.description} level="h2" /> <!-- Cambiado a h2 -->
    <div class="content">
      {
        benefits.items.map((item) => (
          <article>
            <i>
              <IconCheck />
            </i>
            <p>{item}</p>
          </article>
        ))
      }
    </div>
  </div>
</Section>
<style>
  .benefits {
    max-width: var(--container-max-width);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    .content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: var(--grid-gap);
      margin-top: calc(var(--container-padding-y) / 2);
      @media screen and (max-width: 375px) {
        grid-template-columns: 1fr;
      }
      article {
        display: flex;
        align-items: center;
        gap: var(--card-gap);
        font-size: var(--text-size);
        font-weight: 500;
        color: var(--text-color);
        background-color: white;
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius);
        box-shadow: var(--shadow);
        padding: var(--card-padding);
        p {
          background: var(--bg-gradient-text);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          line-height: var(--title-line-height-xl);
          user-select: none;
        }
        i {
          background: var(--bg-gradient);
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 36px;
          height: 36px;
          border-radius: 50%;
          svg {
            width: 20px;
            height: 20px;
            path {
              fill: white;
            }
          }
          @media screen and (max-width: 576px) {
            min-width: 28px;
            height: 28px;
            min-height: 28px;
            svg {
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }
  }
</style>
