---
import Section from '../shared/Section.astro';
import { support } from '@site';
import Title from '../shared/Title.astro';
---

<Section color="var(--bg-color)">
  <div class="support">
    <Title text={support.title} />
    <div class="grid">
      <article>
        <img src="/images/support/1.png" alt="Udep" />
      </article>
      <article>
        <img src="/images/support/2.png" alt="startup peru" />
      </article>
      <article>
        <img src="/images/support/3.png" alt="ccl" />
      </article>
      <article>
        <img src="/images/support/4.png" alt="inovate" />
      </article>
      <article>
        <img src="/images/support/5.png" alt="incuba unach" />
      </article>
      <article>
        <img src="/images/support/6.png" alt="unheval venture" />
      </article>
      <article>
        <img src="/images/support/7.png" alt="Incubadora Scale" />
      </article>
      <article>
        <img src="/images/support/8.png" alt="EmpreLatam" />
      </article>
      <article>
        <img src="/images/support/9.png" alt="Cofide" />
      </article>
    </div>
  </div>
</Section>

<style lang="scss">
  @import '../../assets/breakpoints.scss';
  .support {
    .grid {
      max-width: var(--container-max-width);
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: var(--grid-gap-sm);
      margin-top: 1rem;

      @include screen('md') {
        grid-template-columns: repeat(3, 1fr);
      }
      @include screen('sm') {
        grid-template-columns: repeat(2, 1fr);
      }

      article {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        color: var(--text-color);
        background-color: white;
        padding: 1rem;
        border-radius: var(--border-radius);
        img {
          width: 100%;
          height: 36px;
          object-fit: contain;
          filter: grayscale(1);
        }
      }
    }
  }
</style>
