---
const { title, resume } = Astro.props;
---

<article class="article">
  <small>27 octubre 2023</small>
  <h1>
    ¿Cuál es la diferencia entre la firma electrónica y una firma
    digital?
  </h1>
  <p>
    La tecnología está transformando la forma en que las empresas en
    Latinoamérica operan y gestionan...
  </p>
</article>
<style>
  .article {
    display: flex;
    flex-direction: column;
    gap: var(--card-gap-sm);
    font-size: var(--text-size);
    color: var(--text-color);
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    padding: var(--card-padding-y) var(--card-padding);
    small {
      font-size: var(--text-size);
      opacity: 0.7;
    }
    h1 {
      font-size: var(--text-size-lg);
      line-height: var(--text-line-height);
      font-weight: 500;
    }
    p {
      font-size: var(--text-size);
      line-height: var(--text-line-height);
    }
  }
</style>
