---
const { title, resume, url, date } = Astro.props;
---

<a href={url} class="article transition-up">
  <date>{date}</date>
  <h1>
    {title}
  </h1>
  <p class="truncate-text-4">
    {resume}
  </p>
</a>
<style>
  a.article {
    display: flex;
    flex-direction: column;
    gap: var(--card-gap-sm);
    font-size: var(--text-size);
    color: var(--text-color);
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    padding: var(--card-padding-y) var(--card-padding);
    text-decoration: none;
    date {
      font-size: var(--text-size);
      opacity: 0.7;
    }
    h1 {
      font-size: var(--text-size-lg);
      line-height: var(--text-line-height);
      font-weight: 500;
    }
    p {
      font-size: var(--text-size);
      line-height: var(--text-line-height);
    }
  }
</style>
