---
import { navigate } from 'astro:transitions/client';
import ChipRecommended from '../shared/ChipRecommended.astro';

export interface Props {
  buttonText?: string;
  url: string;
  imageUrl?: string;
}
const { buttonText, imageUrl, url } = Astro.props;
---

<article class="article-ad" data-url={url}>
  {(!buttonText && url) && <a href={url} class="overlay-link" />}
  {
    imageUrl && (
      <div class="image">
        <img src={imageUrl} alt="ad firmeasy" />
      </div>
    )
  }
  <ChipRecommended />
  <h1>
    Plataforma que permite cumplimiento Legal de acuerdos y
    prevenciones de fraude de identidad para Pymes
  </h1>
  <p>Simplifica los procesos de firma de tu empresa.</p>
  {
    buttonText && (
      <a href={url || '/'} class="button gradient ad-link transition-up">
        {buttonText}
      </a>
    )
  }
</article>

<style>
  article.article-ad {
    display: flex;
    flex-direction: column;
    gap: var(--card-gap-sm);
    font-size: var(--text-size);
    color: var(--text-color);
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    padding: var(--card-padding-y) var(--card-padding);
    text-decoration: none;
    position: relative;
    overflow: hidden;
    .overlay-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: transparent;
    }
    .image {
      border: 1px solid var(--border-color);
      border-radius: var(--border-radius-sm);
      overflow: hidden;
      box-shadow: var(--shadow-light);
      margin-bottom: 0.5rem;
      img {
        width: 100%;
        border-radius: var(--border-radius-sm);
        aspect-ratio: 300/183;
      }
    }
    h1 {
      font-size: var(--text-size-lg);
      line-height: var(--text-line-height);
      font-weight: 500;
    }
    p {
      font-size: var(--text-size);
      line-height: var(--text-line-height);
    }
    a.ad-link {
      width: 100%;
      max-width: 120px;
      margin-top: 0.5rem;
    }
  }
</style>
