---
import { getCollection } from 'astro:content';
import Article from './Article.astro';
import ArticleAd from './ArticleAd.astro';

export interface ArticleType {
  id: number;
  date: string;
  title: string;
  resume: string;
  url?: string;
}

const allBlogPosts = await getCollection('blog');

const articles: ArticleType[] = [];
allBlogPosts.map(({ data, slug }: { data: ArticleType, slug: string }) => {
  articles.push( {...{url: `/blog/${slug}`}, ...data})
});
---

<section class="articles-grid">
  <ArticleAd url="/oferta" />
  {articles.map((article: ArticleType) => <Article {...article} />)}
</section>
<style>
  .articles-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--grid-gap);
    margin-top: calc(var(--container-padding-y) / 2);
  }
</style>
