---
import Layout from './Layout.astro';
import ArticleHeader from '../components/blog/ArticleHeader.astro';
import ArticleBody from '../components/blog/ArticleBody.astro';
import Section from '../components/shared/Section.astro';
import ArticleAd from '../components/blog/ArticleAd.astro';
import BackgroundPattern from '../components/shared/BackgroundPattern.astro';
import Fullpage from '../components/shared/Fullpage.astro';

export interface Props {
  frontmatter: {
    title: string;
    date: string;
    url: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`Firmeasy | Blog | ${frontmatter.title}`}>
  <Fullpage>
    <Section>
      <BackgroundPattern slot="bg" />
      <ArticleHeader
        title={frontmatter.title}
        date={frontmatter.date}
        url={frontmatter.url}
      />
      <div class="article-content">
        <ArticleBody>
          <slot />
        </ArticleBody>
        <ArticleAd
          buttonText="Saber maÌs"
          url="/oferta"
          imageUrl="/images/screen.png"
        />
      </div>
    </Section>
  </Fullpage>

  <style>
    .article-content {
      display: grid;
      align-items: flex-start;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--grid-gap);
      margin-top: calc(var(--container-padding-y) / 2);
      .article-body {
        grid-column: 1 / 3;
        color: var(--text-color);
      }
      .article-ad {
        position: sticky;
        top: var(--container-padding-y);
      }
    }
  </style>
</Layout>
