---
import Footer from '../components/shared/Footer.astro';
import Nav from '../components/shared/Nav.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/reset.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Nav />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --container-max-width: 1200px;
    --container-padding: 1.5rem;
    --container-padding-y: 6rem;

    --border-color-dark: rgb(0, 0, 0, 0.4);
    --border-color: rgb(0, 0, 0, 0.1);
    --border-color-light: rgb(0, 0, 0, 0.07);
    --text-color: #01022e;
    --dark-color: var(--text-color);
    --accent-color: #00a280;
    --tertiary-color: #4646a7;
    --secondary-color: #01a182;
    --bg-color: #f7f7f7;
    --bg-gradient: linear-gradient(
      90deg,
      var(--accent-color) 0%,
      var(--secondary-color) 30%,
      var(--tertiary-color) 100%
    );

    --bg-gradient-text: linear-gradient(
      90deg,
      var(--text-color) 0%,
      var(--accent-color) 100%
    );

    --font: 'IBM Plex Sans', sans-serif;

    --text-size-sm: 0.75rem;
    --text-size: 0.9rem;
    --text-size-lg: 1rem;
    --title-size-xl: 2rem;
    --title-size-lg: 1.8rem;
    --title-size: 1.2rem;
    --title-line-height-xl: 1.1;
    --title-line-height-lg: 1.2;
    --title-line-height: 1.4;
    --text-line-height: 1.4;

    --border-radius: 16px;
    --border-radius-sm: 8px;
    --shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
    --shadow-light: 0 2px 15px 0 rgba(0, 0, 0, 0.025);
    --grid-gap: 3rem;
    --card-gap-sm: 0.5rem;
    --card-gap: 1rem;
    --card-gap-lg: 1.5rem;
    --card-padding: 1.5rem;
    --card-padding-y: 2rem;
  }

  *,
  body {
    font-family: var(--font);
  }

  button,
  a.button {
    height: 40px;
    border-radius: 25px;
    padding: 0 1rem;
    font-weight: 500;
    font-size: var(--text-size);
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    text-decoration: none;
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 20px;
        height: 20px;
      }
    }

    &.outline {
      background-color: transparent;
      border: 1px solid var(--text-color);
      color: var(--text-color);
      box-sizing: border-box;
    }

    &.gradient {
      background: var(--bg-gradient);
      color: white;
      border: none;
    }
  }

  .transition-up {
    transition: all 0.3s ease;
    transform: translate(0, 0);
    &:hover {
      transform: translate(3px, -3px);
    }
    &:is(button, a):hover {
      transform: translate(1px, -1px);
    }
  }

</style>
